table {
    border-collapse: collapse;
  }
  th, td {
    color: #200257;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-style: oblique;
    border-top: 2px solid rgba(0, 118, 148);
    border-left: 2px solid rgb(0, 118, 148);
    border-right: 2px solid rgb(0, 118, 148);
    border-bottom: 2px solid rgb(0, 118, 148);
    padding: 8px;
  } 
  
  table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
  }

  table th:first-child {
    font-weight: bold;
    font-size: large;
    background-color: rgb(127, 187, 255, 0.171);
    color: #048b5ea6
  }

  table th:nth-child(n+2) {
    font-weight: bold;
    font-size: large;
    background-color: #7fbbff2c;
    color:#048b5ea6
  }

  table td:nth-child(1) {
    background-color: #7fbbff2c;
    font-size: large;
    color: #006b7e
  }

  table td:nth-child(3) {
    background-color: #7fbbff27;
    font-size: large;
    color: #006b7e
  }

  table td:nth-child(9) {
    background-color: #7fbbff2c;
    font-size: large;
    color: #006b7e
  }

  h1 {
    font-style: italic;
    font-weight: bold;
    color: #00bad3b0;
    font-size: 36;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #68686871;
    text-align: center;
 }

 .table-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
